[remote "origin"]
    url = https://ferluis@bitbucket.org/SReynoso19/201902_mo_grupo_01.git
    fetch = +refs/heads/*:refs/remotes/origin/*
    pushurl = https://ferluis@bitbucket.org/SReynoso19/201902_mo_grupo_01.git
    pushurl = https://github.com/FerLuisxd/mumei-platform.git